/* body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(233, 150, 150);
    font-family: 'Open Sans'
} */

/* https://codepen.io/Priyamaheshwari/pen/WNoVGrd */
.testimonial
{
  /* background-color: rgb(233, 150, 150); */
  /* background-color: white; */
  /* background: url(../images/pattern-bg.jpg); */

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100px;
  height:100px;
  border-radius:50%;
}

 /* Make the image fully responsive */
 #carouselExampleIndicators .carousel-inner .img {
    width: 100%;
    height: 100%;
  }

 #carouselExampleIndicators .carousel-inner {
        margin: 5%;
 }
    
#demo {
    /* background: linear-gradient(112deg, #ffffff 50%, antiquewhite 50%); */
    /* background: linear-gradient(112deg, antiquewhite 50%, antiquewhite 50%); */
    max-width: 900px;
    /* margin:10% auto; */
    margin:5% auto; 
}

#carouselExampleIndicators .carousel-caption {
    position: initial;
    z-index: 10;
    /* padding: 5rem 8rem; */
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    /* font-style: italic; */
    font-weight: bold;
    /* line-height: 2rem */
}

@media(max-width:767px) {
    #carouselExampleIndicators .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}

#carouselExampleIndicators .carousel-caption img {
    width: 6rem;
    /* border-radius: 5rem; */
    /* margin-top: 2rem */
}

@media(max-width:767px) {
    #carouselExampleIndicators .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}

i {
    background-color: rgb(223, 56, 89);
    padding: 1.4rem
}

@media(max-width:767px) {
    i {
        padding: 0.8rem
    }
}

#carouselExampleIndicators .carousel-control-prev {
    justify-content: flex-start
}

#carouselExampleIndicators .carousel-control-next {
    justify-content: flex-end
}

#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next {
    transition: none;
    /* opacity: unset; */
    /* background:red; */
    /* color:green; */
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
} */

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  /* color: red; */
  color:#00fa9a;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  /* color: red; */
  color:#00fa9a;
}

#carouselExampleIndicators .carousel-indicators li
{
    background-color:#00fa9a;
}

.carousel-indicators{
   bottom:-90px;
}

#carouselExampleIndicators .carousel-indicators .active
{
    background-color:black;
}


.imageBox {
  margin:5%;
  max-width:150px;
  max-height:150px;
  position: relative;
  float: left;
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageBox:hover .hoverImg {
  display: block;
}

table tr td
{
  padding:4%;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  
}



.testimonialwork {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
  transition-delay: 0s !important;
  transition: background 0.4s;
}
.testimonialwork h6 {
  display: block;
  line-height: 1;
  margin-bottom: 20px;
  font-family: "Fjalla One", sans-serif;
  opacity: 0.5;
  font-size: 14px;
}
.testimonialwork h2 {
  margin-bottom: 60px;
  font-weight: 800;
  font-size: 60px;
  line-height: 1.2;
  padding-right: 35%;
}
.testimonialwork h2:before {
  content: attr(data-text);
  /* font-size: 20vw; */
  font-size:10vw;
  opacity: 0.05;
  z-index: -1;
  position: absolute;
  left: 0;
  top: -20%;
}
.testimonialwork .project-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 75px 0;
}
.testimonialwork .project-box * {
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.testimonialwork .project-box:hover figure {
  transform: scale(0.95);
}
.testimonialwork .project-box:hover figure img {
  transform: scale(1.15);
}
.testimonialwork .project-box:last-child {
  padding-bottom: 0;
}
.testimonialwork .project-box:nth-child(2n+2) .custom-link a {
  float: right;
}
.testimonialwork .project-box:nth-child(2n+2) .content-box {
  order: 1;
  text-align: right;
  padding-left: 0;
  padding-right: 5%;
}
.testimonialwork .project-box:nth-child(2n+2) .content-box h3 span {
  margin-left: 0;
  margin-right: -7vw;
}
.testimonialwork .project-box:nth-child(2n+2) figure {
  order: 2;
}
.testimonialwork .project-box figure {
  width: 55%;
  margin: 0;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
}
.testimonialwork .project-box figure img {
  width: 100%;
}
.testimonialwork .project-box .content-box {
  width: 45%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.testimonialwork .project-box .content-box .inner {
  margin: 0;
}
.testimonialwork .project-box .content-box .inner small {
  display: block;
  margin-bottom: 20px;
  font-family: "Fjalla One", sans-serif;
  opacity: 0.5;
  font-size: 14px;
}
.testimonialwork .project-box .content-box .inner h3 {
  font-size: 3vw;
  font-weight: 800;
  margin-bottom: 10vh;
  line-height: 1;
}
.testimonialwork .project-box .content-box .inner h3 span {
  display: block;
  font-size: 6vw;
  /* color: #01f7b6; */
  color:#00fa9a;
  margin-left: -10vw;
}


/* body {
    background-color: #000;
    background-repeat: no-repeat;
    overflow-x: hidden
} */

.newcard {
    position: relative;
    /* border: solid 1px #212121; */
    padding: 45px 50px 25px 60px;
    /* margin-top: 200px; */
    /* margin-top: 50px; */
    background-color: white;
    border-radius: 10px;
    color: ##0e0e0ede;
    /* margin:0 auto; */
}

.post-txt {
    font-size: 20px;
    margin-bottom: 0
}

.quote-img {
    position: absolute;
    top: 32px;
    left: 25px;
    width: 30px;
    height: 30px
}

.nice-img {
    width: 20px;
    height: 25px;
    margin-bottom: 7px
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid white;
    margin-left: 85px
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.profile-pic {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    left: 65px;
    margin-top: 15px
}

.profile-name {
    position: absolute;
    font-size: 22px;
    margin-top: 60px;
    left: 210px;
    color: white;
}


/* Make the image fully responsive */
 #carouselExampleTwo .carousel-inner .img {
    /* width: 100%;
    height: 100%; */
  }

#carouselExampleTwo .carousel-caption {
    position: initial;
    z-index: 10;
    /* padding: 5rem 8rem; */
    color: rgba(78, 77, 77, 0.856);
    /* text-align: center; */
    font-size: 1.2rem;
    /* font-style: italic; */
    /* font-weight: bold; */
    /* line-height: 2rem */
        margin-bottom: 10%;
}


@media(max-width:767px) {
    #carouselExampleTwo .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}

#carouselExampleTwo .carousel-caption img {
    /* width: 6rem; */
    /* border-radius: 5rem; */
    /* margin-top: 2rem */
    /* position: absolute; */
    width: 120px;
    height: 120px;
    border-radius: 100%;
    /* left: 65px;
    margin-top: 15px; */
}

@media(max-width:767px) {
    #carouselExampleTwo .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}

i {
    background-color: rgb(223, 56, 89);
    padding: 1.4rem
}

@media(max-width:767px) {
    i {
        padding: 0.8rem
    }
}

#carouselExampleTwo .carousel-control-prev {
    justify-content: flex-start
}

#carouselExampleTwo .carousel-control-next {
    justify-content: flex-end
}

#carouselExampleTwo .carousel-control-prev,
#carouselExampleTwo .carousel-control-next {
    transition: none;
    opacity: unset;
}

#carouselExampleTwo .carousel-indicators li
{
    background-color:#00fa9a;
}

#carouselExampleTwo .carousel-indicators .active
{
    background-color:black;
}